<!DOCTYPE html>
<html>

<head>
    <title>my workshop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>my workshop</h1>
    <h2>
        <%= title %>
    </h2>
</body>

</html>